name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  verify:
    runs-on: macOS-26
    
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=26.1,name=iPad Pro 11-inch (M4)']
    steps:
      - uses: actions/checkout@v4

      - name: install
        run: brew install swiftlint

      - name: lint
        run: swiftlint --strict

      - name: Select Xcode version
        run: sudo xcode-select -switch /Applications/Xcode_26.1.app
      
      - name: Build and test
        run: xcodebuild clean test -project LANreader.xcodeproj -scheme LANreader -destination "${destination}" -skipMacroValidation
        env: 
         destination: ${{ matrix.destination }}
